			a
			{
				background-color:cyan;
				color:black;
				font-size:18px;
				font-weight:bold;
				padding:12px 10px;
				text-decoration:none;
				border:2px solid black;
			}
			a:hover
			{
				background-color:black;
				color:white;
				padding:16px 14px;
			}
			h1
			{
				font-size:50px;
				font-family:arial;
			}
			div
			{
				border:5px solid black;
				width:80%;
			}
			div
			{
				background:silver;
			}
			body
			{
				background:black;
			}